$primary:#069C54;
$primary-hover: #048654;
$secondary: #F8F8F8;
$pure : #fff;
$dark: #232323;
$gray: #ccc;
$text-color : #707070;
 $body-color: #FBFEFD;
 $gray : #ccc;



$primary-hover:#EE5A24;
$secondary: #F8F8F8;
$pure : #fff;
$dark: #232323;
$gray: #ccc;


$smooth: all .3s ease-in-out;